body{
    background-color: beige;
    margin: auto;
    width: 90%;
    max-width: 900px;
    font-family: Arial, Helvetica, sans-serif;
}
.fejlec{
    background-image: url(cicak_forras/images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    text-align: center;
}
.menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.menu ul li{
    text-align: center;
    padding: 15px;
    background-color: orange;
    border-radius: 20px;
    color: white;
}
.menu a{
    text-decoration: none;
    color: white;
}
.menu {
    padding: 25px;
}
.keresem{
    text-align: center;
    color: white;
}
.keresem a{
    text-decoration: none;
    color: white;
}
#keresemacicat{
    padding: 15px;
    background-color: orange;
    border-radius: 20px;   
    width: 250px;
    margin: auto;
}
.elet{
    background-color: rgb(32, 32, 32);
    text-align: center;
    margin: 0;
    padding: 0;
}
.gombok{
    padding-bottom: 45px;
}
.gombok a{
    text-decoration: none;
    color: white;
}
.gombok ul li{
    text-align: center;
    padding: 15px;
    background-color: orange;
    border-radius: 20px;
    color: white;
}
.gombok ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    padding-left: 80px;
    padding-right: 80px;
}
h1{
    padding-top: 5px;
    margin:0;
}
.tartalomelet{
    color: white;
    padding: 10px;
}
.kinti{
    background-color: rgb(32, 32, 32);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}
.norveg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.elhelyezes{
    width: 100%;
    border-radius: 10%;
}

.tartalomkinti ul{
    text-align: left;
}
.kepek{
    position: relative;
    list-style-type: none;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 55px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.text{
    position: absolute;
    right: 59%;
    top: 82%;
}
.textketto{
    position: absolute;
    left: 65%;
    top: 82%;
}
.textharom{
    position: absolute;
    right:62%;
    top: 82%;
    color: white;
}
.textnegy{
    position: absolute;
    right: 19%;
    top: 82%;
    color: white;
}
.benti{
    background-color: rgb(32, 32, 32);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}
.tartalombenti ul{
    text-align: left;
}
.eger{
    width: 12%;
}
.hal{
    width: 9%;
}
.grideger{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    gap: 15px;
}
.macskajatek{
    text-align: left;
}
.tartalomfedezd h1{
    color: white;
    text-align: center;
}
.fedezd{
    background-color: rgb(32, 32, 32);
    color: white;
    margin: 0;
    padding: 0;
}
.egerke{
    background-color: white;
    padding: 5px;
    border-radius: 15px;
}
.macskajatek{
    color: black;
}
.gombegy{
    text-align: center;
    padding: 15px;
    background-color: orange;
    border-radius: 20px;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 33px; 
}
.grideger a{
    text-decoration: none;
    color: white;
}
.halacska{
    background-color: white;
    padding: 5px;
    border-radius: 15px;
}
.konyha{
    color: black;
}
.gombketto{
    text-align: center;
    padding: 15px;
    background-color: orange;
    border-radius: 20px;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 60px;
    margin-right: 60px;
}
.esemeny{
    background-color: rgb(32, 32, 32);
    color: white;
    margin: 0;
    padding: 0;
}
.gombharom{
    text-align: center;
    padding: 15px;
    border: 3px solid orange;
    border-radius: 20px;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 33px;
}
.gombnegy{
    text-align: center;
    padding: 15px;
    border: 3px solid orange;
    border-radius: 20px;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 60px;
    margin-right: 60px;
}
.gridmacska{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    gap: 15px;
}
.macskashow{
    background-color: rgb(71, 71, 71);
    padding: 5px;
    border-radius: 15px;
    border: 2px solid rgb(189, 189, 189);
}
.ugyessegi{
    background-color: rgb(71, 71, 71);
    padding: 5px;
    border-radius: 15px;
    border: 2px solid rgb(189, 189, 189);
}
.ugyes{
    padding-left: 15px;
}
.macskamusor{
    padding-left: 15px;
}
.tartalomesemeny h1{
    text-align: center;
}
.gridmacska a{
    text-decoration: none;
    color: white;
}